<!DOCTYPE html>
<html>
<head>

<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! {{firstname}}  {{lastname}}</h1>
  <p class="lead"><strong>Your request has been registered and you will be contacted soon via your email id:  {{email}} or your phone number {{number}}!!</strong></p>
  <hr>
  <p>
      Still Having trouble? Call us on <u>1800-658-1001</u>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="customer service form.html" role="button">Continue to homepage</a>
  </p>
</div>
</body>
</html>
